{% extends "eezeecommerceAdminBundle::layout.html.twig" %}

{% block title %}Staff Panel | Payments - Eezee Commerce Ltd Ecommerce Platform{% endblock title %}

{% set super_route = "settings" %}

{% set gateway_paypal_express = 0 %}
{% set gateway_paypal_pro = 0 %}
{% set gateway_card_net = 0 %}
{% set gateway_offline = 0 %}
{% set klarna_invoice = 0 %}
{% set stripe_checkout = 0 %}
{% set worldpay = 0 %}
{% set authorisenet = 0 %}

{% for gateway in settings %}
    {% if gateway.factoryName == "paypal_express_checkout"%}
        {% set gateway_paypal_express = gateway.enabled %}
    {% endif %}
    {% if gateway.factoryName == "paypal_pro_checkout"%}
        {% set gateway_paypal_pro = gateway.enabled %}
    {% endif %}
    {% if gateway.factoryName == "offline" %}
        {% set gateway_offline = gateway.enabled %}
    {% endif %}
    {% if gateway.factoryName == "cardnethosted" %}
        {% set gateway_card_net = gateway.enabled %}
    {% endif %}
    {% if gateway.factoryName == "klarna_invoice" %}
        {% set klarna_invoice = gateway.enabled %}
    {% endif %}
    {% if gateway.factoryName == "stripe_checkout" %}
        {% set stripe_checkout = gateway.enabled %}
    {% endif %}
    {% if gateway.factoryName == "worldpay" %}
        {% set worldpay = gateway.enabled %}
    {% endif %}
    {% if gateway.factoryName == "authorise_net_aim" %}
        {% set authorisenet = gateway.enabled %}
    {% endif %}
{% endfor %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('_eezeecommerce_admin_homepage') }}">Dashboard</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa fa-credit-card"></i>
                <a href="#">Payments</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12">
                <h3 class="page-title">
                    Accept Payments
                </h3>
                <p>
                    Enable payment gateways
                    to accept credit cards,
                    PayPal and other payments during
                    checkout.
                </p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-paypal"></i>PayPal Express
                        </div>
                        <a href="{{ path("_eezeecommerce_settings_payments_paypal_express") }}">
                            <button class="btn btn-primary" style="float:right;">Edit</button>
                        </a>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    {% image
                                    '@eezeecommercePaymentBundle/Resources/public/images/PayPal-Logo.png'
                                    %}
                                    <img alt="PayPal Logo" data-thumb="{{ asset_url }}" class="img-responsive" src="{{ asset_url }}"/>
                                    {% endimage %}
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        Your store accepts PayPal payments with PayPal Express Checkout.
                                        A PayPal button will display at the checkout.
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    {% if gateway_paypal_express %}
                                        Active
                                    {% else %}
                                        Not Active
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-credit-card"></i>PayPal Pro - Card Processing
                        </div>
                        <a href="{{ path("_eezeecommerce_settings_payments_paypal_pro") }}">
                            <button class="btn btn-primary" style="float:right;">Edit</button>
                        </a>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        Your store accepts PayPal Card payments with PayPal Pro (PayFlow) Checkout.
                                        You will be able to process card payments on your website.
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    {% if gateway_paypal_pro %}
                                        Active
                                    {% else %}
                                        Not Active
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-credit-card"></i>Klarna Invoice
                        </div>
                        <a href="{{ path("_eezeecommerce_settings_payments_klarna_invoice") }}">
                            <button class="btn btn-primary" style="float:right;">Edit</button>
                        </a>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        Your store accepts Klarna Invoice Checkout.
                                        Enables customers to Pay on Invoice/Delivery (Only available in certain countries).
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    {% if klarna_invoice %}
                                        Active
                                    {% else %}
                                        Not Active
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-credit-card"></i>Stripe Checkout
                        </div>
                        <a href="{{ path("_eezeecommerce_settings_payments_stripe") }}">
                            <button class="btn btn-primary" style="float:right;">Edit</button>
                        </a>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        Your store accepts card payments with Stripe Checkout.
                                        You will be able to process card payments on your website.
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    {% if stripe_checkout %}
                                        Active
                                    {% else %}
                                        Not Active
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-credit-card"></i>Worldpay
                        </div>
                        <a href="{{ path("_eezeecommerce_settings_payments_worldpay") }}">
                            <button class="btn btn-primary" style="float:right;">Edit</button>
                        </a>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        Your store accepts card payments with Worldpay.
                                        You will be able to process card payments on your website.
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    {% if worldpay %}
                                        Active
                                    {% else %}
                                        Not Active
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-credit-card"></i>Lloyds Card Net - Card Processing
                        </div>
                        <a href="{{ path("_eezeecommerce_settings_payments_card_net") }}">
                            <button class="btn btn-primary" style="float:right;">Edit</button>
                        </a>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        Your store accepts card payments with Lloyds Card Net Checkout.
                                        You will be able to process card payments on your website.
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    {% if gateway_card_net %}
                                        Active
                                    {% else %}
                                        Not Active
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-credit-card"></i>Authorize.net AIM - Card Processing
                        </div>
                        <a href="{{ path("_eezeecommerce_settings_payments_authorisenet") }}">
                            <button class="btn btn-primary" style="float:right;">Edit</button>
                        </a>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        Your store accepts card payments with Authorize.net AIM Checkout.
                                        You will be able to process card payments on your website.
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    {% if gateway_card_net %}
                                        Active
                                    {% else %}
                                        Not Active
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cc"></i>Offline Payments
                        </div>
                        <a href="{{ path("_eezeecommerce_settings_payments_offline") }}">
                            <button class="btn btn-primary" style="float:right;">Edit</button>
                        </a>
                    </div>
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    <p>
                                        Your website will support cash on delivery, cheque or another method of offline payment.
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    {% if gateway_offline %}
                                        Active
                                    {% else %}
                                        Not Active
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% javascripts
    '@eezeecommerceAdminBundle/Resources/public/js/components-editors.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/dropzone/dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/js/form-dropzone.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-select/js/bootstrap-select.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/jquery-multi-select/js/jquery.multi-select.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/select2/js/select2.full.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js'
    '@eezeecommerceAdminBundle/Resources/public/js/scripts/components-bootstrap-tagsinput.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/handlebars.min.js'
    '@eezeecommerceAdminBundle/Resources/public/vendor/typeahead/typeahead.bundle.js'
    %}
    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

{% endblock scripts %}